# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Reports
reports/

# Environment Variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db